<section class="section-about-restaurant-two">

    <div class="container">

        <div class="about-restaurant-two-1">
            
            <div class="text-two-1">
                <p class="text-restaurant-two-1">Amet minim mollit non</p>
                <h2 class="title-about-restaurant-two-1">MIMIHO</h2>
                <p class="text-about-restaurant-two-1">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                    amet.</p>
            </div>

            <div class="photo-restaurant-two-1">
                <picture>
                    <source srcset="./images/img/restaurant-page/main-images/desktop/kitchen_desk@1x.avif 1x, ./images/img/restaurant-page/main-images/desktop/kitchen_desk@2x.avif 2x"
                            sizes="460px" media="(min-width:1280px)">
                    <source srcset="./images/img/restaurant-page/main-images/tablet/kitchen_tab@1x.avif 1x, ./images/img/restaurant-page/main-images/tablet/kitchen_tab@2x.avif 2x"
                            sizes="400px" media="(min-width:1024px)">
                    <source srcset="./images/img/restaurant-page/main-images/mobile/kitchen_mob@1x.avif 1x, ./images/img/restaurant-page/main-images/mobile/kitchen_mob@2x.avif 2x"
                            sizes="244px" media="(max-width:1023.9px)">
                    <img src="./images/img/restaurant-page/main-images/mobile/kitchen_mob@1x.avif" alt="restaurant kitchen" sizes="244px">
                </picture>
            </div>

        </div>

        <div class="about-restaurant-two-2">

            <div class="photo-restaurant-two-2">
                <picture class="photo-two-2">
                    <source srcset="./images/img/restaurant-page/main-images/desktop/kitchen1_desk.avif 1x, ./images/img/restaurant-page/main-images/desktop/kitchen1_desk@2x.avif 2x"
                            sizes="460px" media="(min-width:1280px)">
                    <source srcset="./images/img/restaurant-page/main-images/tablet/kitchen1_tab.avif 1x, ./images/img/restaurant-page/main-images/tablet/kitchen1_tab@2x.avif 2x"
                            sizes="350px" media="(min-width:1024px)">
                    <source srcset="./images/img/restaurant-page/main-images/mobile/kitchen1_mob.avif 1x, ./images/img/restaurant-page/main-images/mobile/kitchen1_mob@2x.avif 2x"
                            sizes="200px" media="(max-width:1023.9px)">
                    <img src="./images/img/restaurant-page/main-images/mobile/kitchen1_mob.avif" alt="restaurant" sizes="200px">
                </picture>
            </div>

            <p class="right-text-two-2">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

        </div>

        <div class="swiper-and-arrows">

            <div class="swiper_about restaurant">

                <div class="swiper swiper__main_1">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <picture>
                                <source srcset="./images/img/restaurant-page/slider/desktop/rest_hands_desk@1x.avif 1x, ./images/img/restaurant-page/slider/desktop/rest_hands_desk@2x.avif 2x"
                                        media="(min-width: 1280px)" sizes="254px" />

                                <source srcset="./images/img/restaurant-page/slider/tablet/rest_hands_tab@1x.avif 1x, ./images/img/restaurant-page/slider/tablet/rest_hands_tab@2x.avif 2x"
                                        media="(min-width: 1024px)" sizes="194px" />

                                <source srcset="./images/img/restaurant-page/slider/mobile/rest_hands_mob@1x.avif 1x, ./images/img/restaurant-page/slider/mobile/rest_hands_mob@2x.avif 2x"
                                        media="(max-width: 1023.9px)" sizes= "245px" />

                                <img src="./images/img/restaurant-page/slider/mobile/rest_hands_mob@1x.avif" alt="rolled dough and floured hands">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <source srcset="./images/img/restaurant-page/slider/desktop/rest_khinkali_desk@1x.avif 1x, ./images/img/restaurant-page/slider/desktop/rest_khinkali_desk@2x.avif 2x"
                                        media="(min-width: 1280px)" sizes="254px" />

                                <source srcset="./images/img/restaurant-page/slider/tablet/rest_khinkali_tab@1x.avif 1x, ./images/img/restaurant-page/slider/tablet/rest_khinkali_tab@2x.avif 2x"
                                        media="(min-width: 1024px)" sizes="194px" />

                                <source srcset="./images/img/restaurant-page/slider/mobile/rest_khinkali_mob@1x.avif 1x, ./images/img/restaurant-page/slider/mobile/rest_khinkali_mob@2x.avif 2x"
                                        media="(max-width: 1023.9px)" sizes= "245px" />

                                <img src="./images/img/restaurant-page/slider/mobile/rest_khinkali_mob@1x.avif" alt="khinkali on a plate">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <source srcset="./images/img/restaurant-page/slider/desktop/oysters_desk@1x.avif 1x, ./images/img/restaurant-page/slider/desktop/oysters_desk@2x.avif 2x"
                                        media="(min-width: 1280px)" sizes="254px" />

                                <source srcset="./images/img/restaurant-page/slider/tablet/oysters_tab@1x.avif 1x, ./images/img/restaurant-page/slider/tablet/oysters_tab@2x.avif 2x"
                                        media="(min-width: 1024px)" sizes="194px" />

                                <source srcset="./images/img/restaurant-page/slider/mobile/oysters_mob@1x.avif 1x, ./images/img/restaurant-page/slider/mobile/oysters_mob@2x.avif 2x"
                                        media="(max-width: 1023.9px)" sizes= "245px" />

                                <img src="./images/img/restaurant-page/slider/mobile/oysters_mob@1x.avif" alt="khinkali on a plate">
                            </picture>
                        </div>
                        
                    </div>

                </div>

            </div>

            <div class="slider__arrows about restaurant">
                
                <div class="s-button-prev s-button-prev-ar">
                    <svg width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                    </svg>
                </div>

                <div class="s-button-next s-button-next-ar">
                    <svg width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </div>
                
            </div>

        </div>

    </div>

</section>