<div class="slider_container">

    <div class="swiper js-swiper-hotel-room">

        <div class="swiper-wrapper">
            
            <div class="swiper-slide">
                <picture>

                    <source srcset="./images/img/room-page/slider/desktop/double-room/bedroom2_desk@1x.avif 1x, ./images/img/room-page/slider/desktop/double-room/bedroom2_desk@2x.avif 2x"
                            media="(min-width: 1280px)">
                    <source srcset="./images/img/room-page/slider/tablet/double-room/bedroom2_tab@1x.avif 1x, ./images/img/room-page/slider/tablet/double-room/bedroom2_tab@2x.avif 2x"
                            media="(min-width: 1024px)">
                    <source srcset="./images/img/room-page/slider/mobile/double-room/bedroom2_mob@1x.avif 1x, ./images/img/room-page/slider/mobile/double-room/bedroom2_mob@2x.avif 2x"
                            media="(max-width: 1023.9px)">
                    <img src="./images/img/room-page/slider/mobile/double-room/bedroom2_mob@1x.avif" alt="bedroom in the double room luxe">

                </picture>
            </div>
            
            <div class="swiper-slide">
                <picture>
                
                    <source srcset="./images/img/room-page/slider/desktop/double-room-luxe/bath_big_desk@1x.avif 1x, ./images/img/room-page/slider/desktop/double-room-luxe/bath_big_desk@2x.avif 2x"
                            media="(min-width: 1280px)">
                    <source srcset="./images/img/room-page/slider/tablet/double-room-luxe/bath_big_tab@1x.avif 1x, ./images/img/room-page/slider/tablet/double-room-luxe/bath_big_tab@2x.avif 2x"
                            media="(min-width: 1024px)">
                    <source srcset="./images/img/room-page/slider/mobile/double-room-luxe/bath_big_mob@1x.avif 1x, ./images/img/room-page/slider/mobile/double-room-luxe/bath_big_mob@2x.avif 2x"
                            media="(max-width: 1023.9px)">
                    <img src="./images/img/room-page/slider/mobile/double-room-luxe/bath_big_mob@1x.avif" alt="hall in the double room luxe">
                </picture>
            </div>

        </div>

    </div>

    <div class="slider__arrows">

        <div class="s-button-prev">
            <svg width="32" height="32">
                <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
            </svg>
        </div>
        <div class="s-button-next">
            <svg width="32" height="32">
                <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
        </div>
    </div>

    <div class="swiper__gradient"></div>
    
    
    <div class="container hero__container">

        <div class="container info__wrapper">

            <div class="appartment__info">
                <h1 class="room-title">ДВОМІСНИЙ НОМЕР</h1>
                <p class="room-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                    consequat duis
                    enim
                    velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>

            <div class="socials_and_prices">

                <div class="hero__slider__adress">
                    <div class="room-location">
                        <svg width="20" height="20" class="room-logo-location" fill="#F3C653">
                            <use href="./images/svg/sprite.svg#icon-location"></use>
                        </svg>
                        <a href="https://goo.gl/maps/RSzgJsinwuRZXbrz9" target="_blank"
                            rel="noopened noreferrer nofollow" class="link address__map">
                            Україна, м. Полтава, <br>
                            вул. Маршала Бірюзова, 15
                        </a>
                    </div>
                </div>

                <ul class="list room-social-network-list">
                    
                    <li class="social-network-item">
                        <a  href="https://www.instagram.com" 
                            class="social-network-link" 
                            target="_blank" 
                            rel="noopened noreferrer nofollow"
                            aria-label="instagram link"
                        >
                            <svg width="24" height="24" class="join-icon">
                                <use href="./images/svg/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    
                    <li class="social-network-item">
                        <a  href="https://www.facebook.com" 
                            class="social-network-link" 
                            target="_blank" 
                            rel="noopened noreferrer nofollow"
                            aria-label="facebook link"
                        >
                            <svg width="24" height="24" class="join-icon">
                                <use href="./images/svg/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    
                    <li class="hero-social-item">
                        <a  href="https://web.telegram.org" 
                            class="social-network-link" 
                            target="_blank" 
                            rel="noopened noreferrer nofollow"
                            aria-label="telegram link"
                        >
                            <svg width="24" height="24" class="join-icon">
                                <use href="./images/svg/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>

                </ul>

                <div class="button-container">
                    <button type="button" class="room-prices-button js-open-modal" data-modal="3" data-room="bouble">
                        Переглянути ціни
                    </button>
                </div>

            </div>

        </div>

    </div>

</div>