.section-about-restaurant{
    padding-top: 16px;
    padding-bottom: 20px;
}
.sar .text-and-photo1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 32px;
}
.sar .text1-div{
    margin-bottom: 28px;
}
.sar .subtitle-about{
    font-family: var(--additional-font);
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 12px;
    color: var(--subtitle-color);
}
.sar .title-about{
    width: 127px;
    height: 43px;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    margin-bottom: 12px;
    letter-spacing: 0.3em;
    color: var(--logo-theme-light);
}
.sar .text-about{
    max-width: 258px;
    height: 76px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.sar .text-and-photo1 .photo1-div{
    align-self: flex-end;
}
.sar .photo1-div{
    box-shadow: 2px 2px 60px 2px var(--shadow-color);
    border-radius: 2px;
}
.sar .photo1-div img {
    width: 244px;
    height: 322px;
}
.sar .text-and-photo2{
    display: flex;  
    align-items:center;
    margin-bottom: 32px; 
    justify-content: flex-start;
}
.sar .photo2-div{
    box-shadow: 2px 2px 60px 2px var(--shadow-color);
    border-radius: 2px;     
}
.sar .photo2-div img{
    width: 200px;
    height: 278px;
}
.sar .text2-about{
    max-width: 163px;
    width: 100%;
    margin-left: 28px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}
.sar .swiper-slide-img {
    width: auto;
    height: 245px;
}

@media screen and (min-width: 1024px) {
    .section-about-restaurant{
        padding-top: 120px;
        padding-bottom: 32px;
    }
    .sar .text-and-photo1{
        flex-direction: row;
        margin: 0;
    }
    .sar .text1-div{
        margin-bottom: 0px;
        margin-right: 25px;
    }
    .sar .photo1-div{
        margin-top: -144px;
    }
    .sar .photo1-div img {
        width: 400px;
        height: 524px;
    }
    .sar .subtitle-about{
        font-size: 32px;
        line-height: 1.156;    
    }
    .sar .title-about{
        width: 202px;
        height: 69px;
        font-size: 64px;
        line-height: 1.078;
        margin-bottom: 24px;
    }
    .sar .text-about{
        max-width: 439px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;       
    }
    .sar .text-and-photo2{
        margin-top: -15px;
        margin-bottom: 0px; 
    }
    .sar .photo2-div img {
        width: 350px;
        height: 500px;
    }
    .sar .text2-about{
        max-width: 312px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em; 
        margin-left: 48px; 
    }
    .sar .swiper-and-arrows{
        margin-top: -30px;
    }
    .sar .swiper-slide-img {
        height: 194px;
    }
}

@media screen and (min-width: 1280px) {
    .section-about-restaurant{
        padding-bottom: 50px;
    } 
    .sar .photo1-div{
        width: 460px;
    } 
    .sar .photo1-div img {
        width: 460px;
        height: 574px;
    }
    .sar .text1-div{
        margin-right: 37px;
    }
    .sar .text-about{
        max-width: 518px;
    }
    .sar .photo2-div{
        width: 460px;
    }
    .sar .photo2-div img {
        width: 460px;
        height: 574px;
    }
    .sar .text2-about{
        max-width: 312px;
    }
    .sar .swiper-and-arrows {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .sar .swiper-slide-img {
        height: 245px;
    }
}