.section-about-hotel{
    padding-top: 16px;
    padding-bottom: 20px;
}
.sah .text-and-photo1{
    margin-bottom: 32px;
}
.sah .text1-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 28px;
}
.sah .subtitle-about{
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.15;
    text-align: end;
    margin-bottom: 12px;
    color: var(--subtitle-color);    
}
.sah .title-about{
    display: inline-block; 
    width: 100%;
    padding-right: -10px;
    font-family: var(--logo-font);    
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    text-align: end;
    margin-bottom: 12px;
    letter-spacing: 0.3em;
    color: var(--logo-theme-light);
}
.sah .text1-about{
    max-width: 258px;
    width: 100%;
    justify-self: end;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.sah .photo1-div{
    width: 244px;
    box-shadow: 2px 2px 60px 2px var(--shadow-color);
    border-radius: 2px;
}
.sah .text-and-photo2{
    display: flex;  
    align-items:center;
    margin-bottom: 32px; 
}
.sah .photo2-div{
    width: 200px;
    box-shadow: 2px 2px 60px 2px var(--shadow-color);
    border-radius: 2px;     
}
.sah .text2-about{
    width: 163px;
    margin-right: 20px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}
.sah .swiper-and-arrows{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sah .swiper-slide-img{
    width: auto;
    height: 245px;
}

@media screen and (min-width: 1024px) {
    .section-about-hotel{
        padding-top: 120px;
        padding-bottom: 32px;
    }
    .sah .text-and-photo1{
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        gap: 46px;
    }
    .sah .text1-div{
        margin-bottom: 0px;
    }
    .sah .photo1-div{
        width: 400px;
        margin-top: -144px;
    }
    .sah .subtitle-about{
        font-size: 32px;
        line-height: 1.156;    
    }
    .sah .title-about{
        font-size: 64px;
        line-height: 1.078;
        margin-bottom: 24px;
        transform: translateX(20px);
    }
    .sah .text1-about{
        max-width: 419px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;       
    }
    .sah .text-and-photo2{
        justify-content: flex-end;
        margin-top: -15px;
        margin-bottom: 0px;
    }
    .sah .photo2-div{
        width: 350px
    }
    .sah .text2-about{
        width: 312px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    }
    .sah .swiper-and-arrows{
        margin-top: -30px;
    }
    .sah .swiper-slide-img {
        height: 194px;
    }
}

@media screen and (min-width: 1280px) {
    .section-about-hotel{
        padding-bottom: 50px;
    }
    .sah .text-and-photo1 {
        gap: 67px;
    }
    .sah .photo1-div{
        width: 460px;
    } 
    .sah .text1-div{
        margin-left: 67px;
    }
    .sah .text1-about{
        max-width: 488px;
    }
    .sah .photo2-div{
        width: 460px;
    }
    .sah .swiper-slide-img {
        height: 245px;
    }
}