.section-details-restraunt{
    padding-top: 24px;
    padding-bottom: 40px;
}
.details-restraunt-text {
  margin-left: 140px;
}
.details-restraunt-title {
  width: 100%;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.078;
  letter-spacing: 0.3em;
  margin-bottom: 12px;
  color: var(--logo-theme-dark);
}
.details-restraunt-secondtitle {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: var(--logo-theme-dark);
}
.details-restraunt-paragraph {
  max-width: 259px;
  height: 62px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 48px;
}
.restaurant-buttons-box {
  list-style: none;
  margin-top: 32px;
}
.details-btn,
.details-link {
  display: block;
  width: 236px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  background: var(--btn-backgroubd);
  border: 2px solid var(--logo-theme-dark);
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: background-color var(--transition-slow), border var(--transition-slow);
}
.details-btn:hover,
.details-btn:focus,
.details-link:hover,
.details-link:focus {
  background-color: var(--logo-theme-dark);
  border: 2px solid var(--accent-color);
}
.details-link {
  text-decoration: none;
  display: block;
  margin-top: 16px;
  padding-top: 12px;
  text-align: center;
}
.section-details-restraunt .swiper-slide-img {
  width: auto;
  height: 270px;
}

@media screen and (max-width:1023.9px) {
  .section-details-restraunt{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                      url('/src/images/img/home-page/main-images/mobile/det_rest_mob@1x.avif');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 1023.9px) and (min-device-pixel-ratio: 2),
       screen and (max-width: 1023.9px) and (min-resolution: 192dpi),
       screen and (max-width: 1023.9px) and (min-resolution: 2dppx) {
    .section-details-restraunt{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/mobile/det_rest_mob@2x.avif');
      background-repeat: no-repeat;
      background-size: cover;
    }
}

@media screen and (min-width:1024px) {
  .section-details-restraunt{
      padding-top: 48px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/tablet/det_rest_tab@1x.avif');
      //height: 620px;
  }
  .details-restraunt-text {
    margin-left: 278px;
  }
  .details-restraunt-title {
    font-size: 64px;
  }
  .details-restraunt-secondtitle {
    font-size: 24px;
  }
  .details-restraunt-paragraph {
    max-width: 610px;
    margin-bottom: 40px;
    height: 44px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .restaurant-buttons-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 0;
    margin-bottom: 85px;
    margin-right: 32px;
  }
}
@media screen and (min-width:1024px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 1024px) and (min-resolution: 192dpi), 
        screen and (min-width: 1024px) and (min-resolution: 2dppx){
  .section-details-restraunt{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/tablet/det_rest_tab@2x.avif');
      background-repeat: no-repeat;
      background-size: cover;
  }
}

@media screen and (min-width:1280px) {
  .section-details-restraunt{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/desktop/det_rest_desk@1x.avif');
  }
}
@media  screen and (min-width:1280px) and (min-device-pixel-ratio: 2),
        screen and (min-width:1280px) and (min-resolution: 192dpi),
        screen and (min-width:1280px) and (min-resolution: 2dppx){
  .section-details-restraunt{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/desktop/det_rest_desk@2x.avif');
  }
}