.section-details-hotel{
  position: relative;
  padding-top: 24px;
  padding-bottom: 40px;
}
.details-hotel-text {
  margin-left: 140px;
}
.details-hotel-title {
  width: 100%;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  margin-bottom: 12px;
  color: var(--logo-theme-dark);
}
.details-hotel-secondtitle {
  width: 127px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: var(--logo-theme-dark);
}
.details-hotel-paragraph {
  max-width: 259px;
  height: 62px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 48px;
}
.details-hotel-swiper-and-arrows {
  width: fit-content;
  transform: translateX(-15px);
}
.hotel-swiper-and-buttons-box {
  position: relative;
}
.hotel-buttons-box {
  margin-top: 32px;
}
.hotel-details-btn,
.hotel-details-link {
  display: block;
  width: 236px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  background: var(--btn-backgroubd);
  border: 2px solid var(--logo-theme-dark);
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: background-color var(--transition-slow), border var(--transition-slow);
}
.hotel-details-btn:hover,
.hotel-details-btn:focus,
.hotel-details-link:hover,
.hotel-details-link:focus {
  background-color: var(--logo-theme-dark);
  border: 2px solid var(--accent-color);
}
.hotel-details-link {
  text-decoration: none;
  margin-top: 16px;
  padding-top: 12px;
  text-align: center;
}
.section-details-hotel .swiper-slide-img {
  width: auto;
  height: 270px;
}

@media screen and (max-width:1023.9px) {
  .section-details-hotel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                      url('/src/images/img/home-page/main-images/mobile/det_hotel_mob@1x.avif');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 1023.9px) and (min-device-pixel-ratio: 2),
       screen and (max-width: 1023.9px) and (min-resolution: 192dpi),
       screen and (max-width: 1023.9px) and (min-resolution: 2dppx) {
  .section-details-hotel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                      url('/src/images/img/home-page/main-images/mobile/det_hotel_mob@2x.avif');
  }
}

@media screen and (min-width:1024px) {
  .section-details-hotel{
      padding-top: 48px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/tablet/det_hotel_tab@1x.avif');
  }
  .details-hotel-text {
    margin-left: 295px;
  }
  .details-hotel-title {
    font-size: 64px;
  }
  .details-hotel-secondtitle {
    width: 126px;
    height: 29px;
    font-size: 24px;
  }
  .details-hotel-paragraph {
    max-width: 549px;
    margin-bottom: 40px;
    height: 44px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .hotel-swiper-and-buttons-box {
    display: flex;
    flex-direction: row-reverse;
  }
  .hotel-buttons-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 0;
    margin-left: 32px;
    margin-bottom: 85px;
  }
}
@media screen and (min-width:1024px) and (min-device-pixel-ratio: 2),
       screen and (min-width: 1024px) and (min-resolution: 192dpi),
       screen and (min-width: 1024px) and (min-resolution: 2dppx){
  .section-details-hotel{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/tablet/det_hotel_tab@2x.avif');
    }
}

@media screen and (min-width:1280px) {
  .section-details-hotel{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/desktop/det-hotel-desk@1x.avif');
  }
}
@media screen and (min-width:1280px) and (min-device-pixel-ratio: 2),
       screen and (min-width:1280px) and (min-resolution: 192dpi),
       screen and (min-width:1280px) and (min-resolution: 2dppx){
  .section-details-hotel{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
                        url('/src/images/img/home-page/main-images/desktop/det-hotel-desk@2x.avif');
    }
}
