<div class="modal" data-modal="1">

    <svg class="modal__cross js-modal-close">
        <use href="./images/svg/sprite.svg#icon-close"></use>
    </svg>

    <h2 class="modal__title">ЗАБРОНЮВАТИ НОМЕР</h2>

    <form class="confirm-hotel-booking">

        <div class="room-group">

            <div class="modal-group">
                <input class="modal-input" type="text" name="name" pattern="[A-Za-zА-Яа-я]+" required placeholder="Ваше ім’я" autocomplete="name">
                <label class="modal-label" for="name">На кого забронювати номер?</label>
            </div>

            <div class="modal-group">
                <input class="modal-input tel" type="text" name="phone" pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" required placeholder="+38 (___) ___-__-__" autocomplete="tel">
                <label class="modal-label" for="phone">Номер телефону</label>
            </div>

        </div>

        <div class="room-group">
            <div class="modal-select">
                <select class="modal-input book select" name="room_type">
                    <option value="2pl" selected>Двомісний номер люкс</option>
                    <option value="2p">Двомісний номер</option>
                    <option value="3p">Трьохмісний номер</option>
                </select>
                <label class="modal-label" for="room_type">Категорія номеру</label>
            </div>
        </div>
        
        <div class="room-group">
            <div class="modal-select">
                <input class="modal-input book data-select" type="date" name="checkin_data" required id="checkin_data" min="2023-01-01" max="2030-01-01">
                <label class="modal-label" for="checkin_data">Дата заїзду</label>
            </div>
            <div class="modal-select">
                <input class="modal-input data-select" type="date" name="checkout_data" required id="checkout_data" min="2023-01-01" max="2030-01-01">
                <label class="modal-label" for="checkout_data">Дата виїзду</label>
            </div>
        </div>
        
        <button class="modal-button-submit" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
        
    </form>

</div>