<section class="hotel-double-room">

    <div class="container">

        <div class="hotel-photo-text">

            <div class="hotel-content">

                <p class="hotel-first-text">Amet minim mollit non</p>

                <h2 class="hotel-first-title">MIMIHO</h2>

                <h3 class="hotel-scnd-title">ДВОМІСНИЙ НОМЕР</h3>

                <p class="hotel-scnd-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>

            </div>

            <div class="hotel-img">
                <picture>
                    <source srcset="./images/img/hotel-page/main-images/desktop/bedroom2_desk@1x.jpg 1x , ./images/img/hotel-page/main-images/desktop/bedroom2_desk@2x.jpg 2x"
                            media="(min-width:1280px)">
                    <source srcset="./images/img/hotel-page/main-images/tablet/bedroom2_tab@1x.jpg 1x , ./images/img/hotel-page/main-images/tablet/bedroom2_tab@2x.jpg 2x"
                            media="(min-width:1024px)">
                    <source srcset="./images/img/hotel-page/main-images/mobile/bedroom2_mob@1x.jpg 1x , ./images/img/hotel-page/main-images/mobile/bedroom2_mob@2x.jpg 2x"
                            media="(max-width:1023.9px)">
                    <img src="./images/img/hotel-page/main-images/mobile/bedroom2_mob@1x.jpg" alt="hotel room">
                </picture>
            </div>

        </div>

        <div class="swiper-arrows-and-buttons hotel">

            <div class="swiper-and-arrows">

                <div class="swiper_about hotel">

                    <div class="swiper swiper__main_4">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./images/img/hotel-page/slider/desktop/double-room/sofa_desk@1x.jpg 1x, ./images/img/hotel-page/slider/desktop/double-room/sofa_desk@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                    <source srcset="./images/img/hotel-page/slider/tablet/double-room/sofa_tab@1x.jpg 1x, ./images/img/hotel-page/slider/tablet/double-room/sofa_tab@2x.jpg 2x"
                                            media="(min-width: 1024px)">
                                    <source srcset="./images/img/hotel-page/slider/mobile/double-room/sofa_mob@1x.jpg 1x, ./images/img/hotel-page/slider/mobile/double-room/sofa_mob@2x.jpg 2x"
                                            media="(max-width: 1023.9px)">
                                    <img src="./images/img/hotel-page/slider/mobile/double-room/sofa_mob@1x.jpg" alt="room with brown sofa">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./images/img/hotel-page/slider/desktop/double-room/cactus_desk@1x.jpg 1x, ./images/img/hotel-page/slider/desktop/double-room/cactus_desk@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                    <source srcset="./images/img/hotel-page/slider/tablet/double-room/cactus_tab@1x.jpg 1x, ./images/img/hotel-page/slider/tablet/double-room/cactus_tab@2x.jpg 2x"
                                            media="(min-width: 1024px)">
                                    <source srcset="./images/img/hotel-page/slider/mobile/double-room/cactus_mob@1x.jpg 1x, ./images/img/hotel-page/slider/mobile/double-room/cactus_mob@2x.jpg 2x"
                                            media="(max-width: 1023.9px)">
                                    <img src="./images/img/hotel-page/slider/mobile/double-room/cactus_mob@1x.jpg" alt="countertop with sink">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./images/img/hotel-page/slider/desktop/double-room/breakfast3_desk@1x.jpg 1x, ./images/img/hotel-page/slider/desktop/double-room/breakfast3_desk@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                    <source srcset="./images/img/hotel-page/slider/tablet/double-room/breakfast3_tab@1x.jpg 1x, ./images/img/hotel-page/slider/tablet/double-room/breakfast3_tab@2x.jpg 2x"
                                            media="(min-width: 1024px)">
                                    <source srcset="./images/img/hotel-page/slider/mobile/double-room/breakfast3_mob@1x.jpg 1x, ./images/img/hotel-page/slider/mobile/double-room/breakfast3_mob@2x.jpg 2x"
                                            media="(max-width: 1023.9px)">
                                    <img src="./images/img/hotel-page/slider/mobile/double-room/breakfast3_mob@1x.jpg" alt="breakfast">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./images/img/hotel-page/slider/desktop/double-room/tea_desk@1x.jpg 1x, ./images/img/hotel-page/slider/desktop/double-room/tea_desk@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                    <source srcset="./images/img/hotel-page/slider/tablet/double-room/tea_tab@1x.jpg 1x, ./images/img/hotel-page/slider/tablet/double-room/tea_tab@2x.jpg 2x"
                                            media="(min-width: 1024px)">
                                    <source srcset="./images/img/hotel-page/slider/mobile/double-room/tea_mob@1x.jpg 1x, ./images/img/hotel-page/slider/mobile/double-room/tea_mob@2x.jpg 2x"
                                            media="(max-width: 1023.9px)">
                                    <img src="./images/img/hotel-page/slider/mobile/double-room/tea_mob@1x.jpg" alt="cup of tea">
                                </picture>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="slider__arrows about hotel">
                    
                    <div class="s-button-prev s-button-prev-drah">
                        <svg width="32" height="32">
                            <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                        </svg>
                    </div>

                    <div class="s-button-next s-button-next-drah">
                        <svg width="32" height="32">
                            <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </div>
                    
                </div>
                
            </div>

            <ul class="hotel-button-list">

                <li class="hotel-button-item list">
                    <a class="hotel-link link" href="./hotel-room-double.html">Детальніше</a>
                </li>

                <li class="hotel-button-item list">
                    <button class="hotel-btn js-open-modal" data-modal="3" data-room="double" type="button">Переглянути ціни</button>
                </li>

            </ul>

        </div>

    </div>

</section>