<section class="hotel-triple-room hotel-page">

    <div class="container">

        <div class="hotel-photo-text">

            <div class="hotel-content">
                <p class="hotel-first-text">Amet minim mollit non</p>
                <h2 class="hotel-first-title">MIMIHO</h2>
                <h3 class="hotel-scnd-title">ТРЬОХМІСНИЙ НОМЕР</h3>
                <p class="hotel-scnd-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>

            <div class="hotel-img">
                <picture>
                    <source srcset="./images/img/hotel-page/main-images/desktop/bedroom_desk@1x.avif 1x , ./images/img/hotel-page/main-images/desktop/bedroom_desk@2x.avif 2x"
                            media="(min-width:1280px)">
                    <source srcset="./images/img/hotel-page/main-images/tablet/bedroom_tab@1x.avif 1x , ./images/img/hotel-page/main-images/tablet/bedroom_tab@2x.avif 2x"
                            media="(min-width:1024px)">
                    <source srcset="./images/img/hotel-page/main-images/mobile/bedroom_mob@1x.avif 1x , ./images/img/hotel-page/main-images/mobile/bedroom_mob@2x.avif 2x"
                            media="(max-width:1023.9px)">
                    <img src="./images/img/hotel-page/main-images/mobile/bedroom_mob@1x.avif" alt="bedroom in the hotel triple room">
                </picture>

            </div>

        </div>

        <div class="swiper-arrows-and-buttons hotel">

            <div class="swiper-and-arrows">

                <div class="swiper_about hotel">

                    <div class="swiper swiper__main_1">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./images/img/hotel-page/slider/desktop/triple-room/sofa_white_desk@1x.avif 1x, ./images/img/hotel-page/slider/desktop/triple-room/sofa_white_desk@2x.avif 2x"
                                            media="(min-width: 1280px)">
                                    <source srcset="./images/img/hotel-page/slider/tablet/triple-room/sofa_white_tab@1x.avif 1x, ./images/img/hotel-page/slider/tablet/triple-room/sofa_white_tab@2x.avif 2x"
                                            media="(min-width: 1024px)">
                                    <source srcset="./images/img/hotel-page/slider/mobile/triple-room/sofa_white_mob@1x.avif 1x, ./images/img/hotel-page/slider/mobile/triple-room/sofa_white_mob@2x.avif 2x"
                                            media="(max-width: 1023.9px)">
                                    <img src="./images/img/hotel-page/slider/mobile/triple-room/sofa_white_mob@1x.avif" alt="room with white sofa">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./images/img/hotel-page/slider/desktop/triple-room/breakfast_desk@1x.avif 1x, ./images/img/hotel-page/slider/desktop/triple-room/breakfast_desk@2x.avif 2x"
                                            media="(min-width: 1280px)">
                                    <source srcset="./images/img/hotel-page/slider/tablet/triple-room/breakfast_tab@1x.avif 1x, ./images/img/hotel-page/slider/tablet/triple-room/breakfast_tab@2x.avif 2x"
                                            media="(min-width: 1024px)">
                                    <source srcset="./images/img/hotel-page/slider/mobile/triple-room/breakfast_mob@1x.avif 1x, ./images/img/hotel-page/slider/mobile/triple-room/breakfast_mob@2x.avif 2x"
                                            media="(max-width: 1023.9px)">
                                    <img src="./images/img/hotel-page/slider/mobile/triple-room/breakfast_mob@1x.avif" alt="breakfast">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./images/img/hotel-page/slider/desktop/triple-room/mirror_desk@1x.avif 1x, ./images/img/hotel-page/slider/desktop/triple-room/mirror_desk@2x.avif 2x"
                                            media="(min-width: 1280px)">
                                    <source srcset="./images/img/hotel-page/slider/tablet/triple-room/mirror_tab@1x.avif 1x, ./images/img/hotel-page/slider/tablet/triple-room/mirror_tab@2x.avif 2x"
                                            media="(min-width: 1024px)">
                                    <source srcset="./images/img/hotel-page/slider/mobile/triple-room/mirror_mob@1x.avif 1x, ./images/img/hotel-page/slider/mobile/triple-room/mirror_mob@2x.avif 2x"
                                            media="(max-width: 1023.9px)">
                                    <img src="./images/img/hotel-page/slider/mobile/triple-room/mirror_mob@1x.avif" alt="sink with mirror in the bathroom">
                                </picture>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="slider__arrows about hotel">

                    <div class="s-button-prev s-button-prev-ah">
                        <svg width="32" height="32">
                            <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                        </svg>
                    </div>

                    <div class="s-button-next s-button-next-ah">
                        <svg width="32" height="32">
                            <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </div>

                </div>

            </div>

            <ul class="hotel-button-list">

                <li class="hotel-button-item list">
                    <a class="hotel-link link" href="./hotel-room-triple.html">Детальніше</a>
                </li>

                <li class="hotel-button-item list">
                    <button class="hotel-btn js-open-modal" data-modal="3" data-room="triple" type="button">Переглянути ціни</button>
                </li>

            </ul>

        </div>

    </div>

</section>