 @keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
 @keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@media screen and (max-width: 1023.9px) {
  .hotel-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                      url('/src/images/img/hotel-page/main-images/mobile/hotel_hero_mob@1x.avif');
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 1023.9px),
(-webkit-min-device-pixel-ratio: 2) and (max-width: 1023.9px),
(min-resolution: 192dpi) and (max-width: 1023.9px),
(min-resolution: 2dppx) and (max-width: 1023.9px) {
  .hotel-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('/src/images/img/hotel-page/main-images/mobile/hotel_hero_mob@2x.avif');
  }
}

@media screen and (min-width: 1024px) {
  .hotel-hero {
    padding-top: 188px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                      url('/src/images/img/hotel-page/main-images/tablet/hotel_hero_tab@1x.avif');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
  screen and (min-resolution: 192dpi) and (min-width: 1024px),
  screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .hotel-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                      url('/src/images/img/hotel-page/main-images/tablet/hotel_hero_tab@2x.avif');
  }
}

@media screen and (min-width: 1280px) {
  .hotel-hero {
      padding-top: 164px;
      padding-bottom: 64px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                        url('/src/images/img/hotel-page/main-images/desktop/hotel_hero_desk@1x.avif');
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hotel-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                      url('/src/images/img/hotel-page/main-images/desktop/hotel_hero_desk@2x.avif');
  }
}

