.section-about-restaurant-two{
    padding-top: 16px;
    padding-bottom: 20px;
}
.section-about-restaurant-two .swiper-and-arrows{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.about-restaurant-two-1 {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.text-restaurant-two-1 {
    padding-top: 16px;
    font-family: var(--additional-font);
    font-size: 20px;
    line-height: 23px;
    color: var(--subtitle-color);
    margin-bottom: 12px;
}
.title-about-restaurant-two-1 {
    width: 127px;
    height: 43px;
    padding: 0px;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: var(--logo-theme-light);
    margin: 0px;
    margin-bottom: 12px;
    
}
.text-about-restaurant-two-1 {
    width: 258px;
    height: 76px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-bottom: 28px;
    color: var(--secondary-text-color);
}
.photo-restaurant-two-1 {
    width: fit-content;
    align-self: flex-end;
    margin-bottom: 32px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
}
.about-restaurant-two-1 .photo-restaurant-two-1{
    justify-self: flex-end;
}

.about-restaurant-two-2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
}
.photo-restaurant-two-2 {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
}
.right-text-two-2 {
    width: 163px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #C79002;
}
.photo-rest {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

@media screen and (min-width: 1024px) {
    .section-about-restaurant-two {
        padding-top: 0px;
        padding-bottom: 25px;
    }
    .section-about-restaurant-two .swiper-and-arrows {
        align-items: flex-end;
    }
    .about-restaurant-two-1 {
        margin: -32px 0px 0px 0px;
        flex-direction: row;
        gap: 26px;
    }
    .about-restaurant-two-1 .photo-restaurant-two-1 {
        justify-self: flex-start;
    }
    .text-two-1 {
        padding-top: 152px;
    }
    .text-restaurant-two-1 {
        font-family: var(--additional-font);
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
    }
    .title-about-restaurant-two-1 {
        width: 202px;
        height: 69px;
        font-family: 'Film P3';
        font-size: 64px;
        line-height: 69px;
        margin-bottom: 24px;
    }
    .text-about-restaurant-two-1 {
        width: 439px;
        height: 80px;
        font-family: var(--main-font);
        font-size: 16px;
        line-height: 1.25;
        color: var(--secondary-text-color);
        margin: 0px;
    }
    .photo-restaurant-two-1 {
        margin-bottom: 0;
    }

    .about-restaurant-two-2 {
        margin-top: -15px;
        gap: 48px;
    }
    .right-text-two-2 {
        width: 312px;
        height: 122px;
        font-size: 16px;
        line-height: 1.25;
    }
    .text-restaurant-two-2 {
        font-size: 32px;
        line-height: 1.156;
    }
    .photo-restaurant-two-2 {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .about-restaurant-two-1 {
        gap: 37px;
    }
    .text-about-restaurant-two-1 {
        width: 518px;
    }
    .about-restaurant-two-2 {
        margin-top: -65px;
        gap: 32px;
    }
    .right-text-two-2 {
        margin-bottom: 50px;
    }
}