
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes textFromBotton {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;

  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 1023.9px) {
  .restaurant-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                      url("/src/images/img/restaurant-page/main-images/mobile/rest_page_hero_mob@1x.avif");
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 1023.9px),
  (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023.9px),
  (min-resolution: 192dpi) and (max-width: 1023.9px),
  (min-resolution: 2dppx) and (max-width: 1023.9px) {
  .restaurant-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("/src/images/img/restaurant-page/main-images/mobile/rest_page_hero_mob@2x.avif");
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-hero {
    padding-top: 188px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("/src/images/img/restaurant-page/main-images/tablet/rest_page_hero_tab@1x.avif");
  }

}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
  screen and (min-resolution: 192dpi) and (min-width: 1024px),
  screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .restaurant-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("/src/images/img/restaurant-page/main-images/tablet/rest_page_hero_tab@2x.avif");
  }
}

@media screen and (min-width: 1280px) {
  .restaurant-hero {
    padding-top: 164px;
    padding-bottom: 64px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("/src/images/img/restaurant-page/main-images/desktop/rest_page_hero_desk@1x.avif");
  }
}
@media  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
        screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
        screen and (min-resolution: 192dpi) and (min-width: 1280px),
        screen and (min-resolution: 2dppx) and (min-width: 1280px) {

  .restaurant-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("/src/images/img/restaurant-page/main-images/desktop/rest_page_hero_desk@2x.avif");
  }
}