<section class="section-about-hotel sah">

    <div class="container">

        <div class="text-and-photo1">
            
            <div class="text1-div">
                <p class="subtitle-about">Amet minim mollit non</p>
                <h2 class="title-about">MIMIHO</h2>
                <p class="text1-about">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>

            <div class="photo1-div">
                <picture>
                    <source srcset="./images/img/home-page/main-images/desktop/about_hotel_yellow_pillow_desk@1x.avif 1x, ./images/img/home-page/main-images/desktop/about_hotel_yellow_pillow_desk@2x.avif 2x"
                            media="(min-width:1280px)">
                    <source srcset="./images/img/home-page/main-images/tablet/about_hotel_yellow_pillow_tab@1x.avif 1x, ./images/img/home-page/main-images/tablet/about_hotel_yellow_pillow_tab@2x.avif 2x"
                            media="(min-width:1024px)">
                    <source srcset="./images/img/home-page/main-images/mobile/about_hotel_yellow_pillow_mob@1x.avif 1x, ./images/img/home-page/main-images/mobile/about_hotel_yellow_pillow_mob@2x.avif 2x"
                            media="(max-width:1023.9px)">
                    <img src="./images/img/home-page/main-images/mobile/about_hotel_yellow_pillow_mob@1x.avif" loading="lazy" alt="hotel room">
                </picture>
            </div>

        </div>

        <div class="text-and-photo2">

            <p class="text2-about">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            
            <div class="photo2-div">
                <picture class="photo2">
                    <source srcset="./images/img/home-page/main-images/desktop/about_hot1_desk@1x.avif 1x, ./images/img/home-page/main-images/desktop/about_hot1_desk@2x.avif 2x"
                            media="(min-width:1280px)">
                    <source srcset="./images/img/home-page/main-images/tablet/about_hotel1_tab@1x.avif 1x, ./images/img/home-page/main-images/tablet/about_hotel1_tab@2x.avif 2x"
                            media="(min-width:1024px)">
                    <source srcset="./images/img/home-page/main-images/mobile/about_hotel1_mob@1x.avif 1x, ./images/img/home-page/main-images/mobile/about_hotel1_mob@2x.avif 2x"
                            media="(max-width:1023.9px)">
                    <img src="./images/img/home-page/main-images/mobile/about_hotel1_mob@1x.avif" loading="lazy" alt="hotel hall">
                </picture>
            </div>

        </div>

        <div class="swiper-and-arrows">

            <div class="swiper_about hotel">

                <div class="swiper swiper__main">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <picture>
                                <source srcset="./images/img/home-page/slider/desktop/hotel/about_hotel_reception_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/hotel/about_hotel_reception_desk@2x.avif 2x"
                                        media="(min-width: 1280px)">
                                <source srcset="./images/img/home-page/slider/tablet/hotel/about_hotel_reception_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/hotel/about_hotel_reception_tab@2x.avif 2x"
                                        media="(min-width: 1024px)">
                                <source srcset="./images/img/home-page/slider/mobile/hotel/about_hotel_reception_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/hotel/about_hotel_reception_mob@2x.avif 2x"
                                        media="(max-width: 1023.9px)">
                                <img class="swiper-slide-img" src="./images/img/home-page/slider/mobile/hotel/about_hotel_reception_mob@1x.avif" alt="hotel reception">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>

                                <source srcset="./images/img/home-page/slider/desktop/hotel/about_hot_towels_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/hotel/about_hot_towels_desk@2x.avif 2x"
                                        media="(min-width: 1280px)">
                                <source srcset="./images/img/home-page/slider/tablet/hotel/about_hot_towels_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/hotel/about_hot_towels_tab@2x.avif 2x"
                                        media="(min-width: 1024px)">
                                <source srcset="./images/img/home-page/slider/mobile/hotel/about_hot_towels_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/hotel/about_hot_towels_mob@2x.avif 2x"
                                        media="(max-width: 1023px)">
                                <img class="swiper-slide-img" src="./images/img/home-page/slider/mobile/hotel/about_hot_towels_mob@1x.avif" alt="towels">
                                
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>

                                <source srcset="./images/img/home-page/slider/desktop/hotel/about_hotel_bedroom_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/hotel/about_hotel_bedroom_desk@2x.avif 2x"
                                        media="(min-width: 1280px)">
                                <source srcset="./images/img/home-page/slider/tablet/hotel/about_hotel_bedroom_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/hotel/about_hotel_bedroom_tab@2x.avif 2x"
                                        media="(min-width: 1024px)">
                                <source srcset="./images/img/home-page/slider/mobile/hotel/about_hotel_bedroom_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/hotel/about_hotel_bedroom_mob@2x.avif 2x"
                                        media="(max-width: 1023px)">
                                <img class="swiper-slide-img" src="./images/img/home-page/slider/mobile/hotel/about_hotel_bedroom_mob@1x.avif" alt="hotel bedroom">
                                
                            </picture>
                        </div>

                    </div>

                </div>

            </div>

            <div class="slider__arrows about hotel">
                
                <div class="s-button-prev s-button-prev-ah">
                    <svg width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                    </svg>
                </div>

                <div class="s-button-next s-button-next-ah">
                    <svg width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </div>
                
            </div>

        </div>

    </div>
    
</section>