<section class="section-details-restraunt">

  <div class="container">

    <div class="details-restraunt-text">

      <h2 class="details-restraunt-title">MIMINO</h2>
      <h3 class="details-restraunt-secondtitle">Ресторан</h3>
      <p class="details-restraunt-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
        officia consequat duis enim velit mollit.</p>

    </div>

    <div class="swiper-arrows-and-buttons restaurant">

      <ul class="restaurant-buttons-box">
        <li><button type="button" class="details-btn js-open-modal" data-modal="2">Забронювати столик</button></li>
        <li><a href="./restaurant.html" class="details-link" aria-label="view menu">Переглянути меню</a></li>
      </ul>

      <div class="swiper-and-arrows restaurant">

        <div class="swiper_details restaurant">
          
          <div class="swiper swiper__main_2">

            <div class="swiper-wrapper">
              
              <div class="swiper-slide">

                <picture>
                  <source srcset="./images/img/home-page/slider/desktop/restaurant/det_rest_steak_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/restaurant/det_rest_steak_desk@2x.avif 2x"
                          media="(min-width: 1280px)">
                  <source srcset="./images/img/home-page/slider/tablet/restaurant/det_rest_steak_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/restaurant/det_rest_steak_tab@2x.avif 2x"
                          media="(min-width: 1024px)">
                  <source srcset="./images/img/home-page/slider/mobile/restaurant/det_rest_steak_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/restaurant/det_rest_steak_mob@2x.avif 2x"
                          media="(max-width: 1023.9px)">
                  <img src="./images/img/home-page/slider/mobile/restaurant/det_rest_steak_mob@1x.avif" alt="steak">
                </picture>

              </div>

              <div class="swiper-slide">
                  
                <picture>
                  <source srcset="./images/img/home-page/slider/desktop/restaurant/det_rest_meal1_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/restaurant/det_rest_meal1_desk@2x.avif 2x"
                          media="(min-width: 1280px)">
                  <source srcset="./images/img/home-page/slider/tablet/restaurant/det_rest_meal1_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/restaurant/det_rest_meal1_tab@2x.avif 2x"
                          media="(min-width: 1024px)">
                  <source srcset="./images/img/home-page/slider/mobile/restaurant/det_rest_meal1_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/restaurant/det_rest_meal1_mob@2x.avif 2x"
                          media="(max-width: 1023.9px)">
                  <img src="./images/img/home-page/slider/mobile/restaurant/det_rest_meal1_mob@1x.avif" alt="barbecue">
                </picture>

              </div>

              <div class="swiper-slide">

                <picture>
                  <source srcset="./images/img/home-page/slider/desktop/restaurant/salad_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/restaurant/salad_desk@2x.avif 2x"
                          media="(min-width: 1280px)">
                  <source srcset="./images/img/home-page/slider/tablet/restaurant/salad_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/restaurant/salad_tab@2x.avif 2x"
                          media="(min-width: 1024px)">
                  <source srcset="./images/img/home-page/slider/mobile/restaurant/salad_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/restaurant/salad_mob@2x.avif 2x"
                          media="(max-width: 1023.9px)">
                  <img src="./images/img/home-page/slider/mobile/restaurant/salad_mob@1x.avif" alt="salad">
                </picture>

              </div>
            
            </div>

          </div>
        
        </div>

        <div class="slider__arrows details restaurant">

          <div class="s-button-prev s-button-prev-dr">
              <svg width="32" height="32">
                  <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
              </svg>
          </div>

          <div class="s-button-next s-button-next-dr">
              <svg width="32" height="32">
                  <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
              </svg>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>