<section class="section-details-hotel">

  <div class="container">
    
    <div class="details-hotel-text">
    
      <h2 class="details-hotel-title">MIMINO</h2>
      <h3 class="details-hotel-secondtitle">Готель</h3>
      <p class="details-hotel-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    
    </div>

    <div class="swiper-arrows-and-buttons hotel">
      
      <div class="swiper-and-arrows hotel">
      
        <div class="swiper_details hotel">
        
          <div class="swiper swiper__main_3">

            <div class="swiper-wrapper">
              
              <div class="swiper-slide">
                <picture>
                  <source srcset="./images/img/home-page/slider/desktop/hotel/details_hotel_bedroom_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/hotel/details_hotel_bedroom_desk@2x.avif 2x"
                          media="(min-width: 1280px)">
                  <source srcset="./images/img/home-page/slider/tablet/hotel/details_hotel_bedroom_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/hotel/details_hotel_bedroom_tab@2x.avif 2x"
                          media="(min-width: 1024px)">
                  <source srcset="./images/img/home-page/slider/mobile/hotel/details_hotel_bedroom_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/hotel/details_hotel_bedroom_mob@2x.avif 2x"
                          media="(max-width: 1023.9px)">
                  <img src="./images/img/home-page/slider/mobile/hotel/details_hotel_bedroom_mob@1x.avif" alt="bedroom">
                </picture>
              </div>

              <div class="swiper-slide">
                <picture>
                  <source srcset="./images/img/home-page/slider/desktop/hotel/det_hotel_breakfest_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/hotel/det_hotel_breakfest_desk@2x.avif 2x"
                          media="(min-width: 1280px)">
                  <source srcset="./images/img/home-page/slider/tablet/hotel/det_hotel_breakfest_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/hotel/det_hotel_breakfest_tab@2x.avif 2x"
                          media="(min-width: 1024px)">
                  <source srcset="./images/img/home-page/slider/mobile/hotel/det_hotel_breakfest_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/hotel/det_hotel_breakfest_mob@2x.avif 2x"
                          media="(max-width: 1023.9px)">
                  <img src="./images/img/home-page/slider/mobile/hotel/det_hotel_breakfest_mob@1x.avif" alt="breakfest">
                </picture>
              </div>

              <div class="swiper-slide">
                <picture>
                  <source srcset="./images/img/home-page/slider/desktop/hotel/det_hotel_reception_desk@1x.avif 1x, ./images/img/home-page/slider/desktop/hotel/det_hotel_reception_desk@2x.avif 2x"
                          media="(min-width: 1280px)">
                  <source srcset="./images/img/home-page/slider/tablet/hotel/det_hotel_reception_tab@1x.avif 1x, ./images/img/home-page/slider/tablet/hotel/det_hotel_reception_tab@2x.avif 2x"
                          media="(min-width: 1024px)">
                  <source srcset="./images/img/home-page/slider/mobile/hotel/det_hotel_reception_mob@1x.avif 1x, ./images/img/home-page/slider/mobile/hotel/det_hotel_reception_mob@2x.avif 2x"
                          media="(max-width: 1023.9px)">
                  <img src="./images/img/home-page/slider/mobile/hotel/det_hotel_reception_mob@1x.avif" alt="hotel_reception">

                </picture>
              </div>
            
            </div>

          </div>
      
        </div>
        
        <div class="slider__arrows details hotel">

          <div class="s-button-prev s-button-prev-dh">
              <svg width="32" height="32">
                  <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
              </svg>
          </div>

          <div class="s-button-next s-button-next-dh">
              <svg width="32" height="32">
                  <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
              </svg>
          </div>

        </div>

      </div>

      <ul class="hotel-buttons-box">

        <li>
          <button type="button" class="hotel-details-btn js-open-modal book-room-btn" data-modal="1">Забронювати номер</button>
        </li>

        <li>
          <a href="./hotel.html" class="hotel-details-link" data-modal="1" aria-label="view prices">Переглянути ціни</a>
        </li>

      </ul>
      
    </div>

  </div>

</section>